.acitvityLogs {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  justify-content: space-around;
}

.log {
  width: 70%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 1024px) {
  .log {
    width: 90%;
  }
}
