.acitvityLogs {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 95%;
  justify-content: space-around;
}

.log {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
