.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card:hover {
  transform: translateY(-4px);
}

.cardContent {
  flex: 1;
}
