.statistics {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-around;
}

.chartsection {
  width: 70%;
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 0.3rem;
}

.chartDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 1rem;
}

.chart {
  width: 90%;
  margin: auto;
}
