.resumeRepository {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  justify-content: space-around;
}

.container {
  max-height: 600px;
  overflow-y: scroll;
  width: 70%;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox > input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Montserrat";
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-color);
  margin-bottom: 1rem;
}
