.chartsection {
  width: 100%;
  /* background-color: white; */
  padding: 1rem;
  border-radius: 0.3rem;
}

.chartDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: auto;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.chart {
  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.chartControl {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.timeFilter {
  display: flex;
  width: 40%;
  justify-content: space-around;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.filters {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  font-size: 12px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters > .filter > select {
  width: 8rem;
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0 3.5em 0 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  padding: 0.6rem;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.range {
  font: 14px;
}

.active {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.button:hover {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

@media (max-width: 768px) {
  .filters {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
