.resumeanalytics {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  justify-content: space-around;
}

.resumeusage {
  max-height: 600px;
  overflow-y: scroll;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.buttonContainer {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  background-color: transparent;
}

.button {
  padding: 0.6rem;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.button:hover {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.topContainer {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.activityData {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.chart {
  width: 60%;
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 1024px) {
  .resumeusage {
    width: 90%;
  }
  .activityData {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
  }
  .chart {
    width: 100%;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
