.resumeanalytics {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  justify-content: space-around;
}

.resumeusage {
  max-height: 600px;
  overflow-y: scroll;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.topContainer {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width: 1024px) {
  .resumeusage {
    width: 90%;
  }
}
