.tableSection {
  width: 100%;
  margin: auto;
}
.table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  width: fit-content;
  display: block;
  max-height: 400px;
  overflow-y: scroll;
  background: #6c22a6;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  color: white;
}

.table thead tr {
  background-color: #6c22a6;
  color: #ffffff;
  text-align: left;
}

.table thead {
  position: sticky;
  top: 0;
}

.table th,
.table td {
  padding: 1rem 1.2rem;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #007fff;
}
