.tableSection {
  width: 100%;
  margin: auto;
}
.table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  width: fit-content;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

.table thead tr {
  background-color: #007fff;
  color: #ffffff;
  text-align: left;
}

.table thead {
  position: sticky;
  top: 0;
}

.table th,
.table td {
  padding: 1rem 1.2rem;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #007fff;
}
